In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
# Look at classification type counts
counts = df4.label.value_counts()
print(len(counts))
print(counts)

In [ ]:
# append all coumlns value into a dataframe
cat_5 = df4[df4['label'].isin(['international','politics','entertainment','economics-business'])]
cat_5.shape

In [ ]:
# individual national data sellect only 90k
national = df4.loc[(df4['label'] == 'national')]
natinal1 = national.iloc[:90000]
natinal1.shape

In [ ]:
# individual all_bangladesh data sellect only 90k
all_bangladesh = df4.loc[(df4['label'] == 'all_bangladesh')]
all_bangladesh1 = all_bangladesh.iloc[:90000]
all_bangladesh1.shape

In [ ]:
# individual sports data sellect only 90k
sports = df4.loc[(df4['label'] == 'sports')]
sports1 = sports.iloc[:90000]
sports1.shape

In [ ]:
#append natinal1,all_bangladesh1,sports1 with other categorys

final_data =cat_5.append([natinal1,all_bangladesh1,sports1])
final_data.shape

In [ ]:
# Look at classification type counts
counts = final_data.label.value_counts()
print(len(counts))
print(counts)

In [ ]:
max_length=final_data["body"].str.len().max()
print(max_length)
min_length=final_data["body"].str.len().min()
print(min_length)

In [ ]:
df56 = final_data
df56.shape

In [ ]:
# minimamum length 600 of the body text and maximum 5000
df56.drop(df56[df56['body'].str.len() < 600].index, inplace = True)
df56.shape

In [ ]:
# Look at classification type counts
counts = df56.label.value_counts()
print(len(counts))
print(counts)

In [ ]:
max_length=df56["body"].str.len().max()
print(max_length)
min_length=df56["body"].str.len().min()
print(min_length)

In [ ]:
df3 = df56
df3

In [ ]:
# //remove any kind of letters like english. 
# //this code only keep the bengali language another language will be removed
import re
for index,d in df3.iterrows():
    a = d['body']
    if a:    
        a = "".join(i for i in a if i in ["।"] or 2432 <= ord(i) <= 2559 or ord(i)== 32)
        a =" ".join(a.split())
        df3.loc[index,'body'] = a
print("done")

In [ ]:
# double or multiple  white space convert into single white space
def remove_extra_space(mystring):
    '''
   double or multiple  white space convert into single white space
    '''
    while '  ' in mystring:
        mystring = mystring.replace('  ', ' ')
    mystring = mystring.strip()
    return mystring

In [ ]:
# //here removing the bangla digit  from the text
df3['body'] = df3['body'].str.replace('১','')
df3['body'] = df3['body'].str.replace('২','')
df3['body'] = df3['body'].str.replace('৩','')
df3['body'] = df3['body'].str.replace('৪','')
df3['body'] = df3['body'].str.replace('৫','')
df3['body'] = df3['body'].str.replace('৬','')
df3['body'] = df3['body'].str.replace('৭','')
df3['body'] = df3['body'].str.replace('৮','')
df3['body'] = df3['body'].str.replace('৯','')
df3['body'] = df3['body'].str.replace('০','')
df3['body'] = df3['body'].str.replace('  ',' ')

In [ ]:
# applying the method remove_Extra_space # double or multiple  white space convert into single white space
df3['body'] = df3.apply(lambda row : remove_extra_space(row['body']), axis = 1)

In [ ]:
# sample(frac=1)--> it makes the data shuffling randomly
df4 = df3.sample(frac=1).reset_index(drop=True)
df4

In [ ]:
max_length=df4["body"].str.len().max()
print(max_length)
min_length=df4["body"].str.len().min()
print(min_length)

In [ ]:
df4.drop(df4[df4['body'].str.len() > 5000].index, inplace = True)
df4.drop(df4[df4['body'].str.len() < 500].index, inplace = True)

In [ ]:
max_length=df4["body"].str.len().max()
print(max_length)
min_length=df4["body"].str.len().min()
print(min_length)

In [ ]:
df5 = df4.reset_index(drop=True)
df5.shape

In [ ]:
from google.colab import drive
drive.mount('drive')

In [ ]:
df5.to_csv("newsdata504266with7labels.csv",encoding='utf-8')
!cp newsdata504266with7labels.csv "drive/My Drive/"

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/Dataset-thesis/news-data-504266-with-7-labels.csv')
data

In [ ]:
data1 = data.drop(columns=['Unnamed: 0'])

In [ ]:
df5 = data1
df5

In [ ]:
# Look at classification type counts
counts = df5.label.value_counts()
print(len(counts))
print(counts)

In [ ]:
sports_1 = df5.loc[(df5['label'] == 'sports')]
international_1 = df5.loc[(df5['label'] == 'international')]
national_1 = df5.loc[(df5['label'] == 'national')]
all_bangladesh_1 = df5.loc[(df5['label'] == 'all_bangladesh')]
politics_1 = df5.loc[(df5['label'] == 'politics')]
entertainment_1 = df5.loc[(df5['label'] == 'entertainment')]
economics_1 = df5.loc[(df5['label'] == 'economics-business')]

In [ ]:
print(sports_1.shape)
print(international_1.shape)
print(national_1.shape)
print(all_bangladesh_1.shape)
print(politics_1.shape)
print(entertainment_1.shape)
print(economics_1.shape)

In [ ]:
!pip install bnlp_toolkit
!pip install -U bnlp_toolkit
from bnlp.corpus import stopwords
from bnlp.corpus.util import remove_stopwords
stopwords = stopwords()

In [ ]:
def stop_words_remover(text):
  result = remove_stopwords(text, stopwords)
  return result

In [ ]:
def remove_coma(text):
  if type(text) != str:
    text =' '.join([str(elem) for elem in text])
  return text

In [ ]:
sports_1['text'] = sports_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
international_1['text'] = international_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
national_1['text'] = national_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
all_bangladesh_1['text'] = all_bangladesh_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
politics_1['text'] = politics_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
sports_1['text'] = sports_1.apply(lambda row : remove_coma(row['text']), axis = 1)
sports_1

In [ ]:
international_1['text'] = international_1.apply(lambda row : remove_coma(row['text']), axis = 1)
international_1

In [ ]:
national_1['text'] = national_1.apply(lambda row : remove_coma(row['text']), axis = 1)
national_1

In [ ]:
all_bangladesh_1['text'] = all_bangladesh_1.apply(lambda row : remove_coma(row['text']), axis = 1)
all_bangladesh_1

In [ ]:
politics_1['text'] = politics_1.apply(lambda row : remove_coma(row['text']), axis = 1)
politics_1

In [ ]:
entertainment_1['text'] = entertainment_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
entertainment_1['text'] = entertainment_1.apply(lambda row : remove_coma(row['text']), axis = 1)
entertainment_1

In [ ]:
economics_1['text'] = economics_1.apply(lambda row : stop_words_remover(row['body']), axis = 1)

In [ ]:
economics_1['text'] = economics_1.apply(lambda row : remove_coma(row['text']), axis = 1)
economics_1

In [ ]:
merged_df = pd.concat([sports_1, international_1,national_1,all_bangladesh_1, politics_1,entertainment_1,economics_1])
merged_df.shape

In [ ]:
merged_df1 = merged_df.sample(frac=1).reset_index(drop=True)
merged_df1.head()

In [ ]:
def lower_string(mystring):
    '''
    mystring is the total text of a columns where multiple white space are beeing removed and lower the all charecters
    '''
    while '  ' in mystring:
        mystring = mystring.replace('  ', ' ')
    mystring = mystring.strip()
    return mystring

In [ ]:
merged_df1['body'] = merged_df1.apply(lambda row : lower_string(row['body']), axis = 1)

In [ ]:
merged_df1['text'] = merged_df1.apply(lambda row : lower_string(row['text']), axis = 1)

In [ ]:
merged_df1

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
merged_df1.to_csv("newsdata504266with7labels.csv",encoding='utf-8')